# === Java build artifacts ===
*.class
*.jar
*.war
*.nar
*.ear

# Logs
*.log
hs_err_pid*
replay_pid*

# === Build folders ===
target/
build/

# === Maven wrapper ===
.mvn/
.mvn/wrapper/maven-wrapper.jar

# === IDEs ===
# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Eclipse / STS
.project
.classpath
.factorypath
.settings/
.apt_generated
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# === Node (si aplica) ===
node_modules/
dist/
.env
.env.local

# === Docker (si aplica) ===
*.tar
*.tmp
*.bak
docker-compose.override.yml

# === Otros ===
HELP.md
